body {
    font-family: Arial, sans-serif;
    background-color: #FFDEF6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor {
    text-align: center;
}

.botones {
    margin-top: 20px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    background-color: #FF7EDC;
    color: #fff;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

button:hover {
    transform: translateY(-5px);
}

#no:hover {
    animation: moverBoton 2s infinite;
}
