body {
    font-family: Arial, sans-serif;
    background-color: #FFDEF6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor {
    text-align: center;
}

.botones {
    margin-top: 20px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    background-color: #FF7EDC;
    color: #fff;
    border-radius: 5px;
}

#si {
    transition: 1s;
}

#si:hover {
    scale: 1.2;
}

.confeti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #FFD700; /* Color del confeti */
    border-radius: 50%; /* Forma circular */
    z-index: 1000; /* Asegura que el confeti esté sobre otros elementos */
    animation: caida 3s linear; /* Animación de caída */
}

@keyframes caida {
    0% { transform: translateY(0); }
    100% { transform: translateY(100vh); } /* Cae hasta el final de la pantalla */
}
